{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}



{% block main %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-light">Rejestracja</h1>
<div class="text-light">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
</div>
        <button type="submit" class="btn btn-lg btn-primary">Zarejestruj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
