{% extends 'base.html.twig' %}

{% block main %}
    <div style="margin-top:2vw;" class="container ">
        <div class="row align-items-center ">
            <div class="col ">
                <div class="card text-light bg-dark">
                    <div class="card-header">posted by <a href="{{ path('show-profile', {"userId": post.user.id}) }}"> {{ post.user.username }} </a></div>
                    <div class="card-body">
                        <h3 class="card-title"> {{ post.title }}</h3>
                        <p class="card-text"> {{ postContent|raw}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:1vw;" class="container ">
        <div class="row align-items-center">
            <div class="col">
               {% if app.user == post.user %}
                    <a href=" {{ path('remove-post', {"id": post.id, "topicId": post.topic.id}) }} "><button type="button" class="btn btn-danger btn-sm">Remove Post</button></a>
               {% endif %}
            </div>
        </div>
    </div>
    {% if app.user %}
    <div style="margin-top:10px;" class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href=" {{ path('add-comment', {"id": post.id, "topicId": post.topic.id}) }}">
                    <button type="button" class="btn btn-success btn-sm">Skometuj</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div style="margin-top:10px; " class="container ">
        <div  class="row align-items-center ">
            <div class="col">
                <div  class="card text-light bg-dark">
                    <div  class="card-header text-light bg-dark  ">Comments</div>
                    <div  class="card-body text-light bg-dark">
                        <ul style="overflow-y:auto;" class="list-group list-group-flush">
                            {% for comment in comments %}
                                <li class="list-group-item text-light bg-dark">
                                    <p><a href="{{ path('show-profile', {"userId": comment.user.id}) }}">{{comment.user.username}}</a>   {{ comment.content|raw }}
                                        {% if comment.user.username == user == app.user %}
                                             <small><a href="{{ path('remove-comment', {"postId": comment.post.id, "id": comment.id, "topicId": post.topic.id}) }} ">Remove</a></small>
                                          {% endif %}
                                    </p>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="text-light">{{ knp_pagination_render(comments) }}</div>
            </div>

        </div>

    </div>


{% endblock %}

{% block footer %}{% endblock %}